/* temp colors */
/* barnard blue: #01427c */
/* background: #f0f8ff */

body {
    background-color: #f0f8ff;
    scroll-behavior: smooth;
    color: black;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #f0f8ff;
    display: flex;
    position: sticky;
    top: 0; 
    justify-content: space-between;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px 40px;
}

.navbar a {
    color: #01427c;
    text-decoration: none;
    padding: 30px;
}

.navbar a:hover {
    text-decoration: underline;
}

.name {
    color: #01427c;
    font-size: 2rem;
    font-weight: 700;
    padding: 5px 20px;
    /* float: left; */
}

.section {
    padding: 50px;
    font-size: 24px;
    min-height: 100px;
}