/* temp colors */
/* barnard blue: #01427c */
/* background: #f0f8ff */

body {
    background-color: #f0f8ff;
    scroll-behavior: smooth;
    color: black;
    margin: 0 auto;
    padding: 0;
    font-family: 'Lato', sans-serif;
    max-width: 1500px;
}

/* navbar */
.navbar {
    background-color: #f0f8ff;
    display: flex;
    position: sticky;
    top: 0; 
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    box-shadow: 0 6px 2px -2px rgba(0, 0, 0, 0.1); 
    padding: 30px 40px;
    width: 100%;
}

.navbar a {
    color: #01427c;
    text-decoration: none;
    padding: 30px;
}

.navbar a:hover {
    text-decoration: underline;
}

.name {
    color: #01427c;
    font-size: 2rem;
    font-weight: 700;
    padding: 5px 20px;
}

.section {
    padding: 50px;
    font-size: 24px;
    min-height: 100px;
}

/* home section */
#home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    font-size: 5rem;
    color: #01427c;
    padding: 50px 50px 0 50px;
}

#pronouns {
    text-align: center;
    margin-top: -40px;
    font-style: italic;
    color: #5b7891;
}

#pic-of-me {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* about me section */
.about-me {
    color: #01427c;
}

.about-me-text {
    margin: 70px;
    font-family: 'Nunito', sans-serif;
}

.about-me-text li {
    margin-bottom: 5px;
}

/* relevant coursework dropdown */
.dropdown {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    padding-left: 30px;
    padding-top: 10px;
}

.dropdown-button {
    background-color: transparent;
    padding: 20px;
    border-radius: 20px;
    border: 4px solid #01427c;
    transition: 0.4s;
    font-size: 1.2rem;
}

.caret {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    border-top: 6px solid black;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    transition: transform 0.3s ease-in-out;
}

.rotate {
    transform: rotate(180deg);
}

.dropdown-text {
    display: none;
    font-size: 1rem;
    padding-left: 50px;
    opacity: 0;
    max-height: 0;
    transition: opacity 0.3s ease, max-height 0.3s ease;
    visibility: hidden;
}

.dropdown-text.show {
    opacity: 1;
    visibility: visible;
}